<div class="container">
    <div class="row">
        <div class="col-7 pt-5">
            <div class="ps-10">
                <h3>
                    This First Heading
                    <small class="text-muted ">Will Catch Your Eye</small>
                </h3>
                <div class="First_Heading_Text-3 lead"><p>Donec ullamcorper nulla non metus auetor fringilla. Vestibulum id ligula porta felis "euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusee dapibus, tellus ac cursus commodo.</p></div>
            </div>
        </div>
        <div class="col-5 rounded w-50 p-3">
            <img src="./assets/img/1.jpg" class="rounded-circle" alt="...">
        </div>
    </div>
</div>