<div class="container-fluid heading-space">
    <hr>
    <div class="row">
        <div class="col pt-5">
            <h3>The First Heading Will Catch Your Eye</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra lacus at ligula mollis, at
                accumsan orci aliquet. In ac mi tincidunt ex fringilla auctor nec et ante. Nullam vitae orci ut tortor
                condimentum tempor. Class aptent taciti sociosqu ad.</p>
        </div>
        <div class="col d-flex justify-content-center align-items-center pt-5">
            <img id="heisenberg" src="./assets/img/1.jpg" class="img-fluid" />
        </div>
    </div>
</div>