<!-- your html code here -->
<div class="container bg-white">
    <h1 class="display-5">Portafolio</h1>
    <p class="lead">Donec ullamcorper nulla non metus auetor fringilla. Vestibulum id ligula porta felis "euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusee dapibus, tellus ac cursus commodo.</p>
    <div class="row">

        <div class="col-4">
            <div class="imagen">
                <img src="./assets/img/big-project-image.png" alt="IMAGEN NO ENCONTRADA">
            </div>
            <div class="info">
                <h4 class="text-primary">Project Name</h4>
                <p class="lead"> Lorem lpsum dolor slt amet,consectetur adipisclng elit.Nam vlverra eulsmod odio,gravida pellentesque uma varius vitae.</p>
            </div>
        </div>
        <div class="col-4">
            <div class="imagen">
                <img src="./assets/img/big-project-image.png" alt="IMAGEN NO ENCONTRADA">
            </div>
            <div class="info">
                <h4 class="text-primary">Project Name</h4>
                <p class="lead"> Lorem lpsum dolor slt amet,consectetur adipisclng elit.Nam vlverra eulsmod odio,gravida pellentesque uma varius vitae. </p>
            </div>
        </div>
        <div class="col-4">
            <div class="imagen">
                <img src="./assets/img/big-project-image.png" alt="IMAGEN NO ENCONTRADA">
            </div>
            <div class="info">
                <h4 class="text-primary">Project Name</h4>
                <p class="lead"> Lorem lpsum dolor slt amet,consectetur adipisclng elit.Nam vlverra eulsmod odio,gravida pellentesque uma varius vitae.</p>
            </div>
        </div>


    </div>
</div>