<div class="container portfolio">
    <hr>
    <div class="row d-flex pt-5 ">
        <h1 class="display-3">Portfolio</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rhoncus nulla gravida purus euismod, in
            pharetra massa aliquam. Suspendisse id dolor vel augue sodales posuere. Maecenas ac tincidunt dolor.
            Maecenas iaculis blandit urna et pellentesque. Quisque id velit pharetra eros.</p>
        <div class="card-deck d-flex justify-content-around">
            <div class="card border-0">
                <img class="card-img-top" src="./assets/img/big-project-image.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rhoncus nulla
                        gravida purus euismod, in pharetra massa aliquam. Suspendisse id dolor vel augue sodales
                        posuere. Maecenas ac tincidunt dolor. Maecenas iaculis blandit urna et pellentesque. Quisque id
                        velit pharetra eros.
                    </p>
                </div>
            </div>
            <div class="card border-0">
                <img class="card-img-top" src="./assets/img/big-project-image.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rhoncus nulla gravida purus
                        euismod, in pharetra massa aliquam. Suspendisse id dolor vel augue sodales posuere. Maecenas ac
                        tincidunt dolor. Maecenas iaculis blandit urna et pellentesque. Quisque id velit pharetra eros.

                    </p>
                </div>
            </div>
            <div class="card border-0">
                <img class="card-img-top" src="./assets/img/big-project-image.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rhoncus nulla gravida purus
                        euismod, in pharetra massa aliquam. Suspendisse id dolor vel augue sodales posuere. Maecenas ac
                        tincidunt dolor. Maecenas iaculis blandit urna et pellentesque. Quisque id velit pharetra eros.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>