<div class="container-fluid services-space">
    <hr>
    <div class="row d-flex pt-5 ">
        <div class="col-4 d-flex justify-content-end">
            <img id="keyboard" src="./assets/img/2.jpg"/>
        </div>
        <div class="col-8 justify-content-start">
            <h3>The Second Heading Is Pretty Cool Too</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra lacus at ligula mollis, at
                accumsan orci aliquet. In ac mi tincidunt ex fringilla auctor nec et ante. Nullam vitae orci ut tortor
                condimentum tempor. Class aptent taciti sociosqu ad.</p>
        </div>
    </div>
</div>