<div class="row">
    <div class="col-4 text-center">
        <img src="./assets/img/2.jpg" class="rounded-circle" alt="...">
    </div>

    <div class="col-8 ">
        <h1>The second Heading <span style="color: rgb(117, 117, 117);">Is pretty cool Too.</span></h1>
        <div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </div>
  </div>